{% extends 'base.html'%}

 <!-- Content Block -->
 {% block content %}


  <div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for bridge in bridges %}
    <div class="col">

  <div class="card mt-5 text-center">
    <div class="card-header">{{bridge.name}}</div>
    <div class="card-body">
      <h5 class="card-title">{{bridge.id}}</h5>
      <p class="card-text">{{bridge.description}}</p>
      <a href="{{bridge.url}}" class="btn btn-primary">Website</a>
      <a href="/sources/{{bridge.id}}" class="btn btn-primary">View Articles</a>
    </div>
    <div class="card-footer text-muted">2 days ago</div>
  </div>
</div>
{% endfor %}
</div>
</div>

{% endblock%}


