{% extends 'base.html'%}

<!-- Content Block -->
{% block content %}

{%for platform in platforms%}

<div class="row row-cols-1 row-cols-md-1 g-4 d-flex" >
  <div class="col p-3">
    <div class="card p-3">
     <img class="img-fluid"src="{{platform.urlToImage}}" alt="">
     <div class="card-body">
       <h3>{{platform.title}}</h3>
       <p>Author:{{platform.author}}</p>
       <p>{{platform.description}}</p>
       <p>{{platform.urlToImage}}</p>
       <p>{{platform.publishedAt}}</p>
      </div>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}
